section {
    width: 1000px;
    height: 500px;
    margin: 3rem auto;
    background-color: navy;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div {

    width: 200px;
    height: 100px;
    background-color: brown;
    margin-left: 50px;
    margin-top: 50px;
    
;}

/*separar  */