

#All {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-areas:
        " header header"
        " navigation navigation   "
        "main main main "
        " sidebar sidebar "
        "ads ads "
        "footer footer  "
;


}

#All> header {
    background-color: yellow;
    grid-area: header;
}

#All> .navigation {
    background-color: blue;
    grid-area: navigation;
}

#All> main {
    background-color: green;
    grid-area: main;
}

#All> .sidebar {
    background-color: red;
    grid-area: sidebar;
}

#All> .ads {
    background-color: pink;
    grid-area: ads;
}

#All> footer {
    background-color: orange;
    grid-area: footer;
}